* {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}
/* Login  */

h1 {
  font-size: 2rem;
  color: #4286f5;
}

h3 {
  font-size: 1.5rem;
  color: #1da1f2;
  margin-bottom: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0c7dbc;
}

/* Login  */

/* Header  */
.logo {
  width: 4rem;
  height: auto;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fac202;
  gap: 1rem;
  padding: 0.3rem;
}
.heading {
  font-family: "Russo One", sans-serif;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
/* Header  */

/* Mainpage  */

.mainpageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footerback {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fac202;
  bottom: 0;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footerCenter {
  display: flex;
  justify-content: center;
}
.footerButton {
  width: 9.5rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footerButton:hover {
  background-color: black;
  transition: 0.5s;
  color: #fff;
}
.login {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tweetContainer {
  display: flex;
  justify-content: center;
}
.tweets {
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  border: 2px solid gray;
}
.footerContent {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.account {
  font-size: 1.2rem;
  font-weight: 600;
}
/* Mainpage  */
