* {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}
/* Header  */
.logo {
  width: 4rem;
  height: auto;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fac202;
  gap: 1rem;
  padding: 0.3rem;
}
.heading {
  font-family: "Russo One", sans-serif;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
}
/* Header  */

/* Mainpage  */

.mainpageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footerback {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fac202;
  bottom: 0;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footerCenter {
  display: flex;
  justify-content: center;
}
.footerButton {
  width: 9.5rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footerButton:hover {
  background-color: black;
  transition: 0.5s;
  color: #fff;
}
.login {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tweetContainer {
  display: flex;
  justify-content: center;
}
.tweets {
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  border: 2px solid gray;
}
.footerContent {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.account {
  font-size: 1.2rem;
  font-weight: 600;
}
/* Mainpage  */

/* Sign-up Page start */
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.ui.divider {
  margin-top: 20px;
  margin-bottom: 30px;
}

.uiform {
  display: flex;
  flex-direction: column;
}

.uiform .field {
  margin-bottom: 20px;
}

.uiform .field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.uiform .field input[type="text"],
.uiform .field input[type="email"],
.uiform .field input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.btn {
  background-color: #fac202;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: black;
}
.error {
  color: red;
}

/* Sign-up Page end */
